on fs
    insmod /rk30xxnand_ko.ko
# mount mtd partitions
mount ext4 mtd@system /system wait ro noatime nodiratime barrier=1
stop readahead
mount ext4 mtd@metadata /metadata wait noatime nodiratime nosuid nodev barrier=1
mount ext4 mtd@userdata /data wait noatime nodiratime nosuid nodev barrier=1
mount ext4 mtd@cache /cache wait noatime nodiratime nosuid nodev barrier=1
    mount_all fstab.rk30board
on property:ro.config.low_ram=true    
    swapon_all /fstab.rk30board
